body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: plum;
}

.header {
  font-size: 25px;
  font-family: cursive;
  height: 50px;
  width: 100%;
  background-color: plum;
}

.creature-article {
  background-color: black;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  color: plum;
}

.horned-creature {
  width: 200px;
  height: 200px;
}




